 #root {

   color: rgb(51, 49, 49);
   width: 100vw;
  
   padding: 10px;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
 }

 h3 {
   width: 100%;
   text-align: center;
 }

 #episode-list {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

 }

 .episode {
   width: 28%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border: 2px solid orange;
   padding: 5px;
   margin-bottom: 50px;
 }

 .episode img {
   width: 100%;

 }

 footer {
   background-color:brown;
   width: 100%;
   display: block;
   position: relative;
   height: 30px;
   text-align: center;
 }